{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block content %}

{% if contacts %}
{% if user.is_authenticated %}
<h2 class="text-center">this is the home page!</h2>
<a  style="display: flex; justify-content: center;" href="{% url 'create' %}"><button class="btn btn-primary">create contact!</button></a>
<div class="card-container">
{% for contact in contacts.all %}
    <div class="card-base">
        <img  class="the-img" src="{{ contact.image.url }}">
        <div class="the-btn">
          <h4><a href="{% url 'detail' pk=contact.pk %}">{{contact.first_name|title}} {{contact.last_name|title }}</a></h4>
        </div>
        <div class="content">
          <h3>phone number below</h3>
          <h3>{{contact.phone_number}}</h3>
          <h4><a href="{% url 'update' pk=contact.pk %}">Edit here!</a></h4>
          <h4><a class="del" href="{% url 'delete' pk=contact.pk %}">delete here!</a></h4>
        </div>
    </div>
{% endfor %}
</div>

<h4>{{message}}</h4>
{% else %}
<h1 class="text-center">Create an account or login!</h1>
{% endif %}

{% else %}
<h3 class="text-center">You Have No Contacts!</h3>
{% endif %}
{% endblock %}